.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    appearance: none;
    text-decoration: none;

    //size
    &--large {
        width: 100%;
        height: 52px;
        font-size: $font-size-large;
        line-height: 16px;
        font-weight: 900;
    }
    &--medium {
        width: 100%;
        height: 42px;
        font-size: $font-size-large;
        line-height: 16px;
        font-weight: 900;
    }


    //color 
    &--submit {
        color: $font-color-white;
        background-color: $background-color-orange;
        &:link {
            color: $font-color-white;
        }
        &:visited {
            color: $font-color-white;
        }
        &:active {
            color: $font-color-white;
        }
    }
    &--flat_orange {
        color: $font-color-orange;
        border: 1px solid $border-color-orange;
        border-radius: 6px;
        background-color: $background-color-white;
        &:link {
            color: $font-color-orange;
        }
        &:visited {
            color: $font-color-orange;
        }
        &:active {
            color: $font-color-orange;
        }
    }
    &--flat_gray {
        color: $font-color-gray_strong;
        border: 1px solid $border-color-gray-strong;
        border-radius: 6px;
        background-color: $background-color-white;
        &:link {
            color: $font-color-orange;
        }
        &:visited {
            color: $font-color-orange;
        }
        &:active {
            color: $font-color-orange;
        }
    }
}